Build Root 2017.08

1. Target Options 
	* Target Architecture (ARM (little endian))
	* Target Binary Format (ELF)
	* Target Architecture Variant (cortex-A8)
	* Target ABI (EABIhf)
	* Floating Point (VFPv3)
	* ARM instruction set (Thumb2)

2. Build Options
	* strip target binaries

3. ToolChain
	* Toolchain type (External toolchain)
		** Toolchain (Linaro ARM 2017.02)
	* Enable MMU Support

4. System Configuration 
	* system Hostname
	* Enable root login with password
	
5. Kernel
	* Linux Kernel (Latest version)
	* Kernel configuration (Using an in tree defconfig file)
	* (omap2plus) Defconfig name
	* Kernel binary format (zImage)
	* Build a Device Tree Blob (DTB)
		** Device Tree source (arm335-boneblack)

6. Target packages
	* Busybox
	  ** Audio and video
		 *** alsa-utils
		 *** mpg123
	  ** Libraries
		 *** Audio/Sound
			**** audiofile
			**** libgsm
			**** libsilk
			**** libsoxr
			**** webrtc-audio-processing
	
		 *** Networking
			**** libosip2
			**** libpjsip

	   **  Networking Applications
		   *** dropbear
		   *** client program
		   *** ifupdown scripts
		   *** openssh

7. Filesystem images
	* tar the root filesystem

8. Bootloader
	* U-Boot
		** Build system (Kconfig)
		** U-Boot version (2017.07)
		** U-Boot configuration (Using an in-tree board defconfig file)
		** (arm335x_boneblack) Board deconfig
		** Install U-Boot SPL Binary image
			(MLO) U-Boot SPL binary image















